<style>
</style>

<script>

	// From underscore, cited by David Walsh
	function debounce(func, wait, immediate) {
		var timeout;
		return function() {
			var context = this, args = arguments;
			var later = function() {
				timeout = null;
				if (!immediate) func.apply(context, args);
			};
			var callNow = immediate && !timeout;
			clearTimeout(timeout);
			timeout = setTimeout(later, wait);
			if (callNow) func.apply(context, args);
		};
	}

	import {zoom} from 'd3-zoom';
	import {forceSimulation, forceLink, forceCollide, forceManyBody, forceCenter} from 'd3-force';
	import { select, event } from 'd3-selection';
	import { onMount } from 'svelte';
	import { fade } from 'svelte/transition';

	let gun     = {"_" : {graph: {}}}
	let initial_viewbox = { x: -400, y:-400, width:800, height: 800};
	let viewbox = JSON.parse(JSON.stringify(initial_viewbox));
	let transform = null;
	let nodes = {};
	let links = [];
	let sim = forceSimulation()
		.stop()
		.force("link",forceLink().id(function(d){return d.id}))
		.force("center",forceCenter())
		.force("collide",forceCollide().radius((d)=>{return d.radius;}).iterations(2))
		.force("charge",forceManyBody().strength(-100))
		;

	let simulation_state = 0;
	sim.on("tick", function(){
		// Explicit assignments for svelte reactivity
			nodes = nodes;
			links = links;
			simulation_state = simulation_state+1;
		})
		.on("end", function(){
			simulation_state = 0;
		});


	let actuallyRestartSimulation = debounce(function(){
		console.log("Restarting animation");

		// // Do a coherency check and remove any nodes
		// // that dont have any links pointing to or from it
		// // NOTE : not possible to do it here as there may be late adds
		// Object.keys(nodes).forEach(function(key){
		// 	var node = nodes[key];

		// 	if(links.filter(function(link){
		// 		// Filter out any link point to/from node
		// 		return [link.source, link.source.id, link.target, link.target.id].indexOf(id) == -1;
		// 	}).length == 0) {
		// 		console.log("Removing orphan node: " + key);
		// 		delete(nodes[key]);
		// 	}

		// });

		sim.nodes(Object.keys(nodes).map(function(key){return nodes[key];}));
		sim.force("link").links(links);
		simulation_state = 0;
		sim.restart().alpha(.5);
	}, 100);

	function restartSimulation(){
		sim.stop();
		actuallyRestartSimulation();
	}

	function removeNode(id) {

		delete(nodes[id]);

		links = links.filter(function(link){
			// Filter out any link point to/from node
			return [link.source, link.source.id, link.target, link.target.id].indexOf(id) == -1;
		});

		restartSimulation();
	}

	function addLink(source, target, value, color){
		// Do not add if it exists
		var link = null;
		var total = links.length;
		// check fi link exists already
		for(var i=0; i < total; i++) {

			link = links[i];

			// In the init phase they are not replaced yet by nodes
			if(link.source == source && link.target == target) return;
			if(link.source == target && link.target == source) return;

			// After instantiation we can have nodes in place of the id
			if(link.source.id == source && link.target.id == target) return;
			if(link.source.id == target && link.target.id == source) return;

		}

		if(!color) color = "#664154";

		// Otherwise create
		link = {source: source, target: target, color: color};
		console.log("Link creation: " + JSON.stringify(link, null, ' '));
		links.push(link);
		restartSimulation();

	}

	function getPub(id) {
		let match;
		if ((match = /^~([^@].*)$/.exec(id))) {
			return match[1];
		} else if ((match = /^(.*)~(.*)\.$/.exec(id))) {
			return match[2];
		}
	}

	function watchNode(soul, parsed){
		// No need to watch node if it's already watched
		if(nodes[soul]) return;

		// Create reference
		nodes[soul] = {
			id:soul, 
			radius: 15, 
			collapsed: false, 
			nodename: soul,
			value:soul,
			// x:0,
			// y:0,
			type: "root",
			noack: true
		};

		// If there are any nodes on the board that
		// are linked to this node, expand them
		Object.keys(nodes).forEach(function(key){
			var nnode = nodes[key];
			if(nnode.collapsed && nnode.nodename == soul) {
				console.log("Expanding node pointing to this");
				nnode.collapsed = false;
				addLink(nnode.id, soul);
			}
		});

		// Actually watch the node
		console.log("Watching: " + soul);

		// Watch for events on node
		gun.get(soul).on(function(node){

			console.log("Noticed change on node: " + soul);
			//console.log("Current node: " + JSON.stringify(node));

			if(node === undefined || node === null) {
				return;
			} else {
				nodes[soul].noack = false;
			}


			// check if any prop has changed
			Object.keys(node).forEach(function(key){
				// Ignore _
				if(key == "_") return;

				console.log("Examining : ["+soul+"]["+key+"]");
				console.log(JSON.stringify(node[key], null, ' '));

				if(node[key] && node[key]["#"]) {
					console.log("Noticed a link");

					if(!nodes[soul+"::prop::"+key]) {
						nodes[soul+"::prop::"+key] = {
							id: soul+"::prop::"+key, 
							radius: 10, 
							collapsed: true, 
							nodename: node[key]["#"],
							value: key,
							// x: 0,
							// y: 0,
							type: "propname-link"
						};
						addLink(soul, soul+"::prop::"+key);
					}
					// If there is a leaf already present, we need to replace it
					if(nodes[soul+"::prop::"+key+"::leaf"]) {
						removeNode(soul+"::prop::"+key+"::leaf");
						// Reset collapsed state and nodename
						nodes[soul+"::prop::"+key].collapsed = true;
						nodes[soul+"::prop::"+key].nodename = node[key]["#"];
						nodes[soul+"::prop::"+key].type = "propname-link";
					}

					// If nodename has changed
					// impact it
					if(nodes[soul+"::prop::"+key].nodename != node[key]["#"]) {

						// If there is a link to previous node, remove it
						links = links.filter(function(link){

							if([link.target, link.target.id].indexOf(nodes[soul+"::prop::"+key].nodename) != -1 
								&& [link.source, link.source.id].indexOf(nodes[soul+"::prop::"+key]) != -1) {
								return false;
							} else {
								return true;
							}
						});


						nodes[soul+"::prop::"+key].nodename = node[key]["#"];
						nodes[soul+"::prop::"+key].collapsed = true;
						// step below will expand if necessary

					}



					// Check if link is present on the board
					// and this node is collapsed
					if(nodes[soul+"::prop::"+key].collapsed && nodes[node[key]["#"]]) {
						nodes[soul+"::prop::"+key].collapsed = false;
						addLink(soul+"::prop::"+key, nodes[node[key]["#"]]);
					}

				} else {
					console.log("Noticed a prop");
					if(!nodes[soul+"::prop::"+key]) {
						nodes[soul+"::prop::"+key] = {
							id: soul+"::prop::"+key, 
							radius: 10, 
							collapsed: false, 
							nodename: soul+"::prop::"+key, 
							value: key,
							// x: 0,
							// y: 0,
							type: "propname"
						};
						addLink(soul, soul+"::prop::"+key);
					}

					// Check if we replace a link
					if(nodes[soul+"::prop::"+key].type == "propname-link") {
						if(!nodes[soul+"::prop::"+key].collapsed) {
							// remove link to node
							links = links.filter(function(link){

								if([link.target, link.target.id].indexOf(nodes[soul+"::prop::"+key].nodename) != -1 
									&& [link.source, link.source.id].indexOf(nodes[soul+"::prop::"+key]) != -1) {
									return false;
								} else {
									return true;
								}
							});
						}
						nodes[soul+"::prop::"+key].collapsed = false;
						nodes[soul+"::prop::"+key].type = "propname";
						nodes[soul+"::prop::"+key].nodename = soul+"::prop::"+key;
					}


					if(!nodes[soul+"::prop::"+key+"::leaf"]) {
						nodes[soul+"::prop::"+key+"::leaf"] = {
							id: soul+"::prop::"+key+"::leaf", 
							radius: 8, 
							collapsed: false, 
							nodename: soul+"::prop::"+key+"::leaf", 
							value: ( node[key] === null || node[key] === undefined ) ? "" : node[key],
							// x: 0,
							// y: 0,
							type: "prop"
						};
						addLink(soul+"::prop::"+key, soul+"::prop::"+key+"::leaf");
					} else {
						// We need to update value if it's changed
						if(nodes[soul+"::prop::"+key+"::leaf"] != node[key]) {
							console.log("Updating leaf value");
							nodes[soul+"::prop::"+key+"::leaf"].value = ( node[key] === null || node[key] === undefined ) ? "" : node[key];
						}
					}
				}

			});


		});

		restartSimulation();

	}

	onMount(async () => {

		Gun.on('opt', function(ctx){
			if(ctx.once){ return }
			ctx.on('in', function(msg){
				var to = this.to;
				//console.log("[IN] :: Handling msg : " + JSON.stringify(msg, null, ' '));
				watchGraph(gun._.graph);
				// process message.
				to.next(msg); // pass to next middleware
			});
		});

		// Point this where you need
		// could be set as parameter in an input
        gun = Gun(location.origin+"/gun");
        //gun = Gun("localhost:4000/gun");


		window.nodes = nodes;
		window.links = links;
		window.sim = sim;

		window.gun = gun;

		select("#svgpanzoom").call(zoom().on("zoom", handlePanZoom));

	});

	function handlePanZoom(){
		//console.log("OK heard event : " + JSON.stringify(event.transform));
		transform = event.transform;
	}

	function displayLabel(id, value) {
		//console.log("Displaying: " + id + " -> " + value);
		var s = "";
		if(value !== undefined && value !== null) {
			if(typeof(value) == "object") {
				if(value.ek) {
					s = "crypto";
				} else {
					s = "[object]"
				}
			} else {
				s = value;
			}
		} else {
			s = id;
		}
		if(s.length > 12) {
			s = s.substring(0,8) + "...";
		}
		// console.log("Result: " + s);
		return s;
	}

	function handleClick(node) {
		console.log("Clicked: " + JSON.stringify(node));
	}

	//$: sViewBox = viewbox.x + " " + viewbox.y + " " + viewbox.width + " " + viewbox.height ;
	//$: console.log(sViewBox);

	// follow unwatched nodes thjat appeared on graph
	let watchGraph = debounce(function(graph){
		console.log("Checking graph : " + JSON.stringify(Object.keys(graph)));
		Object.keys(graph).forEach(function(soul){
			watchNode(soul);
		});
	}, 100);

	function nodeStyle(node) {
		var style = [];
		
		if(node.collapsed) {
			style.push("fill:#C6E5EB");
			style.push("stroke:#0C4F5D");
			style.push("stroke-width:.4px");
			style.push("cursor:pointer;");
		} else if(node.id.substring(node.id.length-6) == "::leaf") {
			style.push("fill:#E0F198");
			style.push("stroke:darkgreen");
			style.push("stroke-width:.2px;");
		} else {
			if(node.noack) {
				style.push("stroke-dasharray: 2");
			} else {
				style.push("stroke-dasharray: 0");
			}
			style.push("fill:white");
			if(node.type == "propname") {
				style.push("stroke:darkgreen");
			} else if(node.type == "propname-link") {
				style.push("stroke:#0C4F5D");
			} else {
				style.push("stroke:#5D0E06");
			}
			style.push("stroke-width:.3px;");
		}

		return style.join(";");
	}

	function textStyle(node) {
		var style = [];
		
		if(node.collapsed) {
			style.push("font-size:3px");
			style.push("fill:#0C4F5D");
		} else if(node.id.substring(node.id.length-6) == "::leaf") {
			style.push("font-size:3px");
			style.push("fill:darkgreen");
		} else {
			style.push("font-size:3px");
			style.push("fill:black");
		}

		return style.join(";");
	}


	function handleDblClick(node) {
		if(node.collapsed) {
			node.collapsed = false;
			watchNode(node.nodename);
			addLink(node.id, node.nodename);
		}
	}

	let codeString='gun.get("moo").get("too").put("foo");\ngun.get("roo").get("too").put("soot");\n\ngun.get("testlink").get("linktomoo").put({"#": "moo"});\n\ngun.get("testlink").once(function(){});';

	function handleCodeSubmit() {
		try {
			console.log("Executing: " + codeString);
			(new Function("gun", codeString)).call(gun, gun);
		} catch (e) {
			alert(e.message || e);
		}
	}

</script>
<!--div style="position:absolute;font-size:10px;font-family:Courier New;right:10px;top:10px;">{simulation_state}</div-->
<svg id="svgpanzoom" width="100%" height="100%" viewBox="0 0 200 200" style="border:solid red 0px;box-sizing:border-box;">
	<g id="main_svg_group" transform={transform}>
		{#each links as link}
			<line transition:fade="{{duration: 1000 }}" style={"stroke-width:.3px;stroke:"+link.color+";stroke-opacity:.6"} x1={link.source.x} y1={link.source.y} x2={link.target.x} y2={link.target.y}></line>
		{/each}
		{#each Object.keys(nodes).map(function(idx){ return nodes[idx];}) as node}
			{#if !isNaN(node.x) && !isNaN(node.y)}
				<circle transition:fade="{{duration: 500 }}" class= "node" cx={node.x} cy={node.y} key={node.id} r={node.radius} style={nodeStyle(node)} on:dblclick|preventDefault|stopPropagation={function(){handleDblClick(node)}} on:click={function(){handleClick(node)}}></circle>
				<text text-anchor="middle" key={node.id} style={textStyle(node)} x={node.x} y={node.y+1.5} on:dblclick={function(){}}>{displayLabel(node.id, node.value)}</text>
			{/if}
		{/each}
	</g>
</svg>
<!--div style="position:absolute;top:10px;left:10px;font-size:10px;font-family:Courier New">Transform: {JSON.stringify(transform === null ? {k:"1.00", x:"0.00", y:"0.00"} : { k:transform.k.toFixed(2), x: transform.x.toFixed(2), y: transform.y.toFixed(2) })}</div-->
