body {
	margin: 0;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
}

a {
	color: inherit;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}
div.basediv {
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 16px;
	background-color:  white;
	overflow        :  hidden;
	height          : 100%;
	width           : 100%;
	position		: absolute;
	top				: 0px;
	left			: 0px;
	box-sizing		: border-box;
}

/* roboto-100 - latin */
@font-face {
font-family: 'Roboto';
font-style: normal;
font-weight: 100;
src: url('fonts/roboto-v20-latin-100.eot'); /* IE9 Compat Modes */
src: local('Roboto Thin'), local('Roboto-Thin'),
	url('fonts/roboto-v20-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/roboto-v20-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/roboto-v20-latin-100.woff') format('woff'), /* Modern Browsers */
	url('fonts/roboto-v20-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/roboto-v20-latin-100.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-100italic - latin */
@font-face {
font-family: 'Roboto';
font-style: italic;
font-weight: 100;
src: url('fonts/roboto-v20-latin-100italic.eot'); /* IE9 Compat Modes */
src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
	url('fonts/roboto-v20-latin-100italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/roboto-v20-latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/roboto-v20-latin-100italic.woff') format('woff'), /* Modern Browsers */
	url('fonts/roboto-v20-latin-100italic.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/roboto-v20-latin-100italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-300 - latin */
@font-face {
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
src: url('fonts/roboto-v20-latin-300.eot'); /* IE9 Compat Modes */
src: local('Roboto Light'), local('Roboto-Light'),
	url('fonts/roboto-v20-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/roboto-v20-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/roboto-v20-latin-300.woff') format('woff'), /* Modern Browsers */
	url('fonts/roboto-v20-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/roboto-v20-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-300italic - latin */
@font-face {
font-family: 'Roboto';
font-style: italic;
font-weight: 300;
src: url('fonts/roboto-v20-latin-300italic.eot'); /* IE9 Compat Modes */
src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
	url('fonts/roboto-v20-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/roboto-v20-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/roboto-v20-latin-300italic.woff') format('woff'), /* Modern Browsers */
	url('fonts/roboto-v20-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/roboto-v20-latin-300italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
src: url('fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
src: local('Roboto'), local('Roboto-Regular'),
	url('fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
	url('fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-italic - latin */
@font-face {
font-family: 'Roboto';
font-style: italic;
font-weight: 400;
src: url('fonts/roboto-v20-latin-italic.eot'); /* IE9 Compat Modes */
src: local('Roboto Italic'), local('Roboto-Italic'),
	url('fonts/roboto-v20-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/roboto-v20-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/roboto-v20-latin-italic.woff') format('woff'), /* Modern Browsers */
	url('fonts/roboto-v20-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/roboto-v20-latin-italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
src: url('fonts/roboto-v20-latin-500.eot'); /* IE9 Compat Modes */
src: local('Roboto Medium'), local('Roboto-Medium'),
	url('fonts/roboto-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/roboto-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/roboto-v20-latin-500.woff') format('woff'), /* Modern Browsers */
	url('fonts/roboto-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/roboto-v20-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500italic - latin */
@font-face {
font-family: 'Roboto';
font-style: italic;
font-weight: 500;
src: url('fonts/roboto-v20-latin-500italic.eot'); /* IE9 Compat Modes */
src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
	url('fonts/roboto-v20-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/roboto-v20-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/roboto-v20-latin-500italic.woff') format('woff'), /* Modern Browsers */
	url('fonts/roboto-v20-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/roboto-v20-latin-500italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
src: url('fonts/roboto-v20-latin-700.eot'); /* IE9 Compat Modes */
src: local('Roboto Bold'), local('Roboto-Bold'),
	url('fonts/roboto-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/roboto-v20-latin-700.woff') format('woff'), /* Modern Browsers */
	url('fonts/roboto-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/roboto-v20-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700italic - latin */
@font-face {
font-family: 'Roboto';
font-style: italic;
font-weight: 700;
src: url('fonts/roboto-v20-latin-700italic.eot'); /* IE9 Compat Modes */
src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
	url('fonts/roboto-v20-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/roboto-v20-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/roboto-v20-latin-700italic.woff') format('woff'), /* Modern Browsers */
	url('fonts/roboto-v20-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/roboto-v20-latin-700italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900 - latin */
@font-face {
font-family: 'Roboto';
font-style: normal;
font-weight: 900;
src: url('fonts/roboto-v20-latin-900.eot'); /* IE9 Compat Modes */
src: local('Roboto Black'), local('Roboto-Black'),
	url('fonts/roboto-v20-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/roboto-v20-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/roboto-v20-latin-900.woff') format('woff'), /* Modern Browsers */
	url('fonts/roboto-v20-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/roboto-v20-latin-900.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900italic - latin */
@font-face {
font-family: 'Roboto';
font-style: italic;
font-weight: 900;
src: url('fonts/roboto-v20-latin-900italic.eot'); /* IE9 Compat Modes */
src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
	url('fonts/roboto-v20-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/roboto-v20-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/roboto-v20-latin-900italic.woff') format('woff'), /* Modern Browsers */
	url('fonts/roboto-v20-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/roboto-v20-latin-900italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
